.main {
  display: flex;
  height: calc(100vh - 60px);
  /* position: relative; */
}

.orgPeople {
  flex: 4;
  padding: 10px;
}

.orgPeopleDetail {
  /* position: absolute; */
  /* right: 0; */
  padding: 10px;
  flex: 1;
  margin: 5px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.orgPeopleDetail.hide {
  display: none;
}
