.userDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userImg {
  width: 200px;
  height: 200px;
  margin: 20px 0px;
}

.userImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.closeButton {
  position: absolute;
  top: 0;
  left: 0;
}

.userText.name {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.userText.designation {
  padding: 3px 5px;
  background-image: linear-gradient(
    to right top,
    #852bff,
    #b020f4,
    #d01ae9,
    #ea1ede,
    #ff2bd3
  );
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
  margin: 10px 0px;
}

.userText.email {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #1e1e1e;
}

.scoreContainer h4 {
  text-align: left;
  padding-top: 6px;
}

.scoreImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.scorePercent {
  position: absolute;
  bottom: 35%;
  font-size: 16px;
  font-weight: 600;
}
